/* Estilos generales */
body{
background:#f4f4f4;

}

h1{

color:#000000;

}

pre{

background:#222;
color:#fff;
padding:10px;

}

header img{

margin-top:20px;

}

img{

width: 20%;

}

/* Estilos para clases*/
.imageBlog{

width: 70%;

}

.pading{

padding-top: 4svh;

}
.tableForm{
    margin-top: 5dvh;
}

.pre-form{

height: 100svh;

}

/* Estilos para media queries */


/* --- Formularios --- */
@media (max-width:700px){

    .contenedor-form{
        display: flex;
        flex-direction: column;
    }

    .contenedor-form .col-6{
        width: 100%;
    }

    .pre-form{
        order: 1;
    }

    .contenedor-form form{
        order: 2;
    }

}

/* --- Index --- */
@media (max-width:700px){

    .contenedor-tecnologias{
        display: flex;
        flex-direction: column;
    }

    .contenedor-tecnologias .col-4{
        width: 100%;
    }

    .img-html{ order:1; }
    .text-html{ order:2; }

    .img-css{ order:3; }
    .text-css{ order:4; }

    .img-js{ order:5; }
    .text-js{ order:6; }

}